.whole{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 5%;
    background-color: #ffecd7;
    padding: 0 25%;
}

.chat-place{
    resize: none;
    border-radius: 10px;
    pad: 5px;

}


.sub-chat{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 60, 143);
    color: white
}

.sub-chat:hover{
    background-color: rgb(30, 46, 114);  
}

.AIimg{
    width: 300px;
    height: 170px;
}

.result-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
}

.youtube-title{

}